<app-header />
<main>
  <div id="dashboard">
    <app-dashboard-item
      [img]="{ src: 'status.png', alt: 'A signal symbol' }"
      title="Server Status"
    >
      <app-dashboard-status
    /></app-dashboard-item>

    <app-dashboard-item
      [img]="{ src: 'globe.png', alt: 'A globe' }"
      title="traffic"
    >
      <app-dashboard-traffic />
    </app-dashboard-item>

    <app-dashboard-item
      [img]="{ src: 'list.png', alt: 'A list of items' }"
      title="Support Tickets"
    >
      <app-dashboard-tickets />
    </app-dashboard-item>
  </div>
</main>
